.wp-block-mp-megamenu {
    position: relative;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            margin: 0;

            &:after,
            &:before {
                display: none;
            }
        }
    }

    &__wrapper {
        margin-right: auto;
        margin-left: auto;
    }

    &-item {
        &__link {
            display: flex;

            a {
                display: block;
                padding: 10px 15px;
            }

            &.has-text-color {
                a {
                    color: inherit;
                }
            }
        }

        & &__toggle {
            display: inline-block;
            padding: 0;
            background: transparent;
            border: 0;
            box-shadow: none;
            color: inherit;
            margin: 0;
            outline: none;

            &:before,
            &:after {
                display: none;
            }

            &:active,
            &:focus {
                outline: none;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
                color: inherit;
                background: inherit;
                box-shadow: none;
            }
        }

        &.has-children {
            .wp-block-mp-megamenu-item__link {
                a {
                    padding-right: 5px;
                }
            }
        }
    }

    &.justify-items {
        &-left {
            .wp-block-mp-megamenu__content {
                justify-content: flex-start;
            }
        }

        &-center {
            .wp-block-mp-megamenu__content {
                justify-content: center;
            }
        }

        &-right {
            .wp-block-mp-megamenu__content {
                justify-content: flex-end;
            }
        }
    }

    &:not(.is-mobile) {
        .wp-block-mp-megamenu-item {
            &:hover {
                .wp-block-mp-megamenu-item__dropdown-wrapper {
                    height: auto;
                    overflow: visible;
                }
            }
        }
    }

    &.is-mobile {
        .wp-block-mp-megamenu__content-wrapper {
            visibility: hidden;
            height: 0;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: -10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wp-block-mp-megamenu__content {
            width: 100%;
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;
        }

        .wp-block-mp-megamenu-item {
            width: 100%;

            &__link {

                a {
                    flex: 1 1 auto;
                }
            }
        }

        &.is-opened {
            .wp-block-mp-megamenu__content-wrapper {
                visibility: visible;
                z-index: 100;
                min-height: 100%;
                height: auto;
            }

            .wp-block-mp-megamenu__toggle-wrapper.is-close {
                display: block;
            }
        }

        .wp-block-mp-megamenu-item__dropdown-wrapper {
            position: static;

            &.is-opened {
                overflow: visible;
                height: auto;
            }
        }
    }

    .wp-block-mp-megamenu__toggle-wrapper {
        &.is-hidden {
            display: none;
        }

        &.is-close {
            display: none;
            position: absolute;
            top: 60px;
            right: 20px;
        }
    }
}

.wp-block-mp-megamenu-item__dropdown-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 0;
    overflow: hidden;
    z-index: 1;
}

.wp-block-mp-megamenu-item__dropdown {
    background: #fff;
    padding: 10px;

    &:after,
    &:before {
        display: table;
        content: '';
        clear: both;
    }
}

.wp-block-mp-megamenu-item__dropdown-content {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-mp-plain-menu-item__dropdown-icon,
.wp-block-mp-megamenu-item__dropdown-icon {
    > * {
        vertical-align: middle;
    }
}

.wp-block-mp-plain-menu {
    &.justify-items {
        &-left {
            .wp-block-mp-plain-menu__content {
                justify-content: flex-start;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: flex-start;
                }
            }
        }

        &-center {
            .wp-block-mp-plain-menu__content {
                justify-content: center;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: center;
                }
            }
        }

        &-right {
            .wp-block-mp-plain-menu__content {
                justify-content: flex-end;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: flex-end;
                }
            }
        }
    }

    &.is-orientation-vertical {
        .wp-block-mp-plain-menu__content {
            flex-direction: column;
            align-items: flex-start;
        }

        .wp-block-mp-plain-menu-item__dropdown {
            left: 100%;
            top: 0;
        }
    }
}

.wp-block-mp-plain-menu__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wp-block-mp-plain-menu-item__dropdown {
    z-index: 10;
    display: none;
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;

    & & {
        left: 100%;
        top: 0;
    }
}

.wp-block-mp-plain-menu-item {
    position: relative;

    &.is-opened,
    &.has-child-selected,
    &:hover {
        > .wp-block-mp-plain-menu-item__dropdown {
            display: block;
        }
    }

    &:first-child {
        .wp-block-mp-plain-menu-item__dropdown & {
            > .wp-block-mp-plain-menu-item__link {
                > a {
                    padding-top: .5em;
                }
            }
        }
    }

    &:last-child {
        .wp-block-mp-plain-menu-item__dropdown & {
            > .wp-block-mp-plain-menu-item__link {
                > a {
                    padding-bottom: .5em;
                }
            }
        }
    }

    a {
        padding: .25em 1em;
        display: block;
    }
}