.wp-block-mp-megamenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    &-item {
        padding: 10px;

        &:hover {
            .wp-block-mp-megamenu-item__dropdown-wrapper {
                height: auto;
                overflow: visible;
            }
        }
    }

    &.justify-items {
        &-left {
            justify-content: flex-start;
        }

        &-center {
            justify-content: center;
        }

        &-right {
            justify-content: flex-end;
        }
    }
}

.wp-block-mp-megamenu-item__dropdown-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 0;
    overflow: hidden;
    z-index: 1;
}

.wp-block-mp-megamenu-item__dropdown {
    background: #fff;
    padding: 10px;

    &:after,
    &:before {
        display: table;
        content: '';
        clear: both;
    }
}

.wp-block-mp-megamenu-item__dropdown-icon {
    > * {
        vertical-align: middle;
    }
}