.wp-block-mp-plain-menu {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 0;

            &:after,
            &:before {
                display: none;
            }
        }

        &:after,
        &:before {
            display: none;
        }
    }

    &.justify-items {
        &-left {
            .wp-block-mp-plain-menu__content {
                justify-content: flex-start;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: flex-start;
                }
            }
        }

        &-center {
            .wp-block-mp-plain-menu__content {
                justify-content: center;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: center;
                }
            }
        }

        &-right {
            .wp-block-mp-plain-menu__content {
                justify-content: flex-end;
            }

            &.is-orientation-vertical {
                .wp-block-mp-plain-menu__content {
                    align-items: flex-end;
                }
            }
        }
    }

    &.is-orientation-vertical {
        .wp-block-mp-plain-menu__content {
            flex-direction: column;
            align-items: flex-start;
        }

        .wp-block-mp-plain-menu-item__dropdown {
            left: 100%;
            top: 0;

            &.toleft {
                right: 100%;
                left: auto;
            }
        }
    }
}

.wp-block-mp-plain-menu__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}